* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-card {
    background-color: #a1a70f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 32%;
}

.card-text {
    padding: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: blue;
}

#para {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: red;
    text-align: center;
    padding: 30px;
}

img {
    max-width: 150px;
}