* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}